doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        style
            include ../static/style.css
    body
        header
            h1 Мой личный блог
            nav
                ul
                    li
                        a(href="/") Главная
                    li
                        a(href="/articles") Статьи
                    li
                        a(href="/contacts") Контакты

        main
            section.main-content
                h2 #{articleTitle}
                p Опубликовано: #{publicationDate}
                p #{articleContent}
        
            aside.sidebar
                h3 Последние статьи
                ul
                    each article in recentArticles
                        li
                            a(href=article.url) #{article.title}
        
        footer
            hr
            h4 Контактная информация:
            p Обращайтесь по телефону: +7 412 231 61 75
            p Copyright 2024
